<strong>Olá, {{ student }}</strong>
<p>Sua inscrição com a Gym point foi realizada, abaixo estão as informações sobre sua matricula</p>
<p>
  <strong>Inicio: {{ start }}</strong> <br />
  <strong>Fim: {{ end }}</strong> <br />
  <strong>Plano: {{ plan }}</strong> <br />
  <strong>Preço: R${{ price }}</strong>
</p>
